<h1>Editing native language</h1>

<%= render "form", native_language: @native_language %>

<br>

<div>
  <%= link_to "Show this native language", @native_language %> |
  <%= link_to "Back to native languages", native_languages_path %>
</div>
