<div id="<%= dom_id learning_level %>">
  <p>
    <strong>Name:</strong>
    <%= learning_level.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= learning_level.description %>
  </p>

</div>
