<p style="color: green"><%= notice %></p>

<h1>Learning levels</h1>

<div id="learning_levels">
  <% @learning_levels.each do |learning_level| %>
    <%= render learning_level %>
    <p>
      <%= link_to "Show this learning level", learning_level %>
    </p>
  <% end %>
</div>

<%= link_to "New learning level", new_learning_level_path %>
