<div id="<%= dom_id user_interested_country %>">
  <p>
    <strong>User:</strong>
    <%= user_interested_country.user_id %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= user_interested_country.country_id %>
  </p>

</div>
