<h1>New user interested country</h1>

<%= render "form", user_interested_country: @user_interested_country %>

<br>

<div>
  <%= link_to "Back to user interested countries", user_interested_countries_path %>
</div>
