<div id="<%= dom_id study_language %>">
  <p>
    <strong>User:</strong>
    <%= study_language.user_id %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= study_language.language_id %>
  </p>

  <p>
    <strong>Learning level:</strong>
    <%= study_language.learning_level_id %>
  </p>

</div>
