<h1>Editing study language</h1>

<%= render "form", study_language: @study_language %>

<br>

<div>
  <%= link_to "Show this study language", @study_language %> |
  <%= link_to "Back to study languages", study_languages_path %>
</div>
