<div id="<%= dom_id demande %>">
  <div><span style="color:white;background:<%= demande.icon %>;" class="myicon">
    <%= demande.image.html_safe %></span>
          <span class="name1">
    <%= demande.name %>
              </span>
                </div>

</div>
